h2, h3{
    text-align: center;
}
.dropdown{
    cursor: pointer;
    margin-top: 12px;
    font-size: 20px;
    width: 30%;
    margin-right: -10%;
}
.dropdown-text{
    cursor: pointer;
    margin-top: 12px;
    font-size: 20px;
    width: 20%;
}
.Search{
    width: 40%;
    padding: 1%;
}
.Searchbutton{
    padding-top: 1.6%;
    padding-bottom: 1.5%;
    width: 5%;
}

#showtable{
    border: 3px, black;
    border-collapse: collapse;
    box-align: center;
    margin: auto;
}
th, td {
    border: 2px solid black;
    padding: 20px;
    text-align: left;
    font-size: 15px;
}
header{
    border: 2px solid black;
}
#showprops{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}
footer{
    width: 100%;
}
html, body {
    height: 100%; 
    margin: 0; 
}
#showall{
    flex: 1;
    padding: 20px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 90vh; /* Ensure body takes up full height */
}
.disp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-Bottom: 20px;
}
h1{
    text-align: center;
}
#search{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
