<!DOCTYPE html>
<html>
<head>
    <title>SPARQL Query Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>SPARQL Query Results</h1>

    {% if results %}
    <table border="1" cellpadding="5" cellspacing="0">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Label</th>
                <th>Description</th>
                <th>teethgrade</th>
                <th>teethamount</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ results[0] }}</td>
                    <td>{{ results[1] }}</td>
                    <td>{{ results[2] }}</td>
                    <td>{{ results[3] }}</td>
                    <td>{{ results[4] }}</td>
                </tr>
        </tbody>
    </table>
    {% else %}
        <p>No results found for your query.</p>
    {% endif %}
</body>
</html>