<!DOCTYPE html>
<html>
<head>
    <title>Search for you product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body onload="initiate({{properties}})">
    <div class="showproperties" id="showall">
        <class="showproperties" id="showprops">
            

        </div>   
    </div>
</body>
</html>
