<!DOCTYPE html>
<html>
<head>
    <title>Circular enitity broker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>
<body onload="initiateProperties({{products}}, {{properties}})">
    <div class="showproperties" id="showall">
        
    </div>
    <div class="showprooperties" id="showprops">
    </div>   
</body>
</html>
