openapi: '3.0.3'
info:
  title: External Company Interrogation API
  description: API Spec for endpoints required by the broker from companies that want to support fluid product data that updates regularly by interrogation from the broker, like price and stock.
  version: 0.1.0
servers:
  - url: https://fakecompany.ceb.ltu.se/v1
  - url: https://fakecompany.ceb.rekursion.se/v1

components:
  schemas:
    Property:
      type: object
      properties:
        valueType:
          type: string
          description: Which type the value has, if `float` the broker will try to convert and throw an error if the value cannot be parset to a float.
          enum:
            - string
            - float
          example: "float"
        property:
          description: The property
          type: string
          example: "teethGrade"
        value:
          description: The value
          type: string
          example: "2.3"

    Product:
      type: object
      properties:
        productId:
          $ref: "#/components/schemas/UUID4"
        properties:
          type: array
          items:
            $ref: "#/components/schemas/Property"

    UUID4:
      type: string
      example: "589a65f1-ea3f-4ba7-9ae4-9953a2b885d2"

    Error:
      type: object
      properties:
        code:
          type: integer
          example: 500
        message:
          type: string
          example: "Error parsing value"

  responses:
      Unauthorized:
        description: Unauthorized

      Error:
        description: Internal server error
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Error"

  securitySchemes:
    CompanyAccessToken:
      type: apiKey
      in: header
      name: X-API-CAT
      description: A Company Access Token, which is generated by the broker when first registering the company. Consists of a 64-byte token in string hex format.

tags:
  - name: FluidDataInterrogation
    description: Endpoints related to querying fluid product data

paths:
  /fluid_data:
    post:
      tags:
        - FluidDataInterrogation
      security:
        - CompanyAccessToken: []
      description: JSON content should be an array of product UUIDs. Fluid product data for all requested products will be returned if available.
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UUID4"

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Product"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/Error"
